*.code-workspace
.vscode/
.idea/
*.iml
.DS_STORE
node_modules/

Mods.zip

EcoServer.exe
EcoServer32.exe
DefaultWorld

/Configs/Network.eco
/Configs/Users.eco
/Configs/Voice.eco

Mods_Backup/
Logs/
EmptySteamDepot/
Storage/
WebClient/WebBin/